@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,300&display=swap');

/* body style */
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

/* header style. position:relative fixes the position of the header wrt the map window */
.header{
  position: relative;
}
